<?xml version = "1.0" encoding = "UTF-8"?>
<suite name = "Simple Reporter Suite">
    <listeners>
        <listener class-name = "custom.CustomReport" />
    </listeners>

    <test name = "Simple Reporter tests">
        <classes>
            <class name = "tests.BasicSearchTest" />
        </classes>
    </test>
</suite>